body {
	font-family: Helvetica, Arial, sans-serif;
}

table {
	color: #333;
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	border: 1px solid #ccc;
	height: 30px;
}

th {
	background: #f3f3f3;
	font-weight: bold;
}

td {
	background: #fafafa;
	text-align: center;
}
