body {
	font-family: Helvetica, Arial, sans-serif;
}

table {
    color: #333;
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th {
	border: 1px solid #CCC;
	height: 30px;
}

th {
	background: #F3F3F3;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}
