@import 'tailwindcss';

@theme {
	--color-primary: #3b82f6;
	--color-success: #10b981;
	--color-warning: #f59e0b;
	--color-danger: #ef4444;
}

body {
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif;
	-webkit-font-smoothing: antialiased;
}

body.dark {
	--bg-main: #0f172a;
	--bg-side: #1e293b;
	--bg-card: #1e293b;
	--bg-hover: #334155;
	--text-main: #94a3b8;
	--text-bright: #f8fafc;
	--border: #334155;
}

body:not(.dark) {
	--bg-main: #f8fafc;
	--bg-side: #fff;
	--bg-card: #fff;
	--bg-hover: #f1f5f9;
	--text-main: #475569;
	--text-bright: #0f172a;
	--border: #e2e8f0;
}
